{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="card shadow-sm p-4">
    <h2 class="mb-3"><u>About This Project</u></h2>
    <p>This project is a phone number validation tool that uses the Veriphone API to check the validity of phone numbers...
    </p>
    <h3>Key Features</h3>
    <ul>
        <li>Single phone number validation with real-time feedback.</li>
        <li>Batch validation of phone numbers through CSV file upload.</li>
        <li>User-friendly interface with Bootstrap styling.</li>
        <li>Detects phone number validity, carrier, and country</li>
        <li>Integration with the Veriphone API for accurate phone number validation.</li>
        <li>Handles various phone number formats with country codes.</li>
        <li>Storing validation results in a SQLite database for future reference.</li>
        <li>Option to download a processed CSV with appended validation results</li>
    </ul>
    <h3>Contributors</h3>
    <p>This project was developed by Saksham Gupta.</p>
    <a href="{{ url_for('home') }}">Back to Home</a>
</div>
{% endblock %}
