{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="card shadow-sm p-4">
    <h2><u>Contact Us</u></h2>
    <p>If you have any questions, suggestions, or want to report an issue, feel free to reach out through the links below. We value your feedback and will try to respond as soon as possible.</p>
    <p>Mail here: <a href="https://mail.google.com/mail/u/0/#inbox?compose=SxfkdnRCqXdpzdPrRZlqvWwWXMbFTtZXXhHqhZPWtfssvMcVLgdCmQszmtTrSQwFqnlBNbrfCDlSxmHhFdwvGMQxhKHBrjjfnNctkKSlpxCzcKrQwkg" target="_blank">Drop your message</a></p>
    <p>Github Link: <a href="https://github.com/sakshammhere" target="_blank">Connect</a></p>
    <a href="{{ url_for('home') }}">Back to Home</a>
</div>
{% endblock %}
