<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2><u>Contact Us</u></h2>
    <p>If you have any questions, suggestions, or want to report an issue, feel free to reach out through the links below. We value your feedback and will try to respond as soon as possible.</p>
    <p>Mail here : <a href="https://mail.google.com/mail/u/0/#inbox?compose=SxfkdnRCqXdpzdPrRZlqvWwWXMbFTtZXXhHqhZPWtfssvMcVLgdCmQszmtTrSQwFqnlBNbrfCDlSxmHhFdwvGMQxhKHBrjjfnNctkKSlpxCzcKrQwkg" target="_blank">Drop your message</a></p>
    <p>Github Link: <a href="https://github.com/sakshammhere" target="_blank">Connect</a></p>
    <!-- Add your actual content here -->
    <a href="{{ url_for('hello_world') }}">Back to Home</a>
</div>
</body>
</html>
